#root {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #ffffff;
  background-image: url('./assets/background/gplay.png');
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  z-index: -10;
  color: gray;
}

.postcommentBtn {
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}
.specialHR {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}
.specialHR::after {
  content: '§';
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: whitesmoke;
}

.Edit-n-Delete {
  height: 25px;
  width: 25px;
  padding: 0px;
  margin: 0px 10px 0px 10px;
}
.Edit-n-Delete:hover {
  fill: blue;
}
.remove-comment-btn {
  height: 35px;
  width: 35px;
  padding: 0px;
}
.remove-comment-btn:hover {
  fill: red;
}

.logout-btn {
  height: 2.7rem;
  width: 2rem;
  padding: 0px;
  fill: white;
}
.logout-btn:hover {
  fill: maroon;
}

.user {
  display: inline-block;
  text-align: center;
}

.social-media-Linkedin:hover {
  fill: #0072b1;
}
.social-media-Github:hover {
  fill: #6cc644;
}
