#root {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #ffffff;
  background-image: url('./assets/background/gplay.png');
}

footer {
  position: absolute;
  text-align: center;
  bottom: 5%;
  width: 100%;
  height: 2.5rem;
}

footer p {
  margin-top: 10px;
  color: black;
  text-align: center;
}

.Edit-n-Delete:hover {
  fill: blue;
}

.Edit-n-Delete {
  height: 25px;
  width: 25px;
  padding: 0px;
  margin: 0px 10px 0px 10px;
}

.logout-btn {
  height: 2.7rem;
  width: 2rem;
  padding: 0px;
  fill: red;
}

.user {
  display: inline-block;
  text-align: center;
}
